## In the   Accelerated_Intro_WilkinsonExams    folder

## ISSUE THESE COMMADS 


###   git fetch
###   git checkout FETCH_HEAD -- Exam\ Week\ 2.ipynb
###   git checkout FETCH_HEAD -- Germplasm.tsv
###   git checkout FETCH_HEAD -- LocusGene.tsv

this will retrieve the exam material without destroying your existing notes
<pre>


</pre>

## Start your mySQL Server from a terminal 
(if it isn't already running)

<code>sudo docker start course-mysql</code>
<pre>

</pre>
Don't forget that, if you use sqlMagic, you need to execute the connection lines in your Notebook!

<pre>
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
</pre>

## Create a new Python3 Jupyter Notebook in your Exam Answers folder

commit and push this Notebook when you are finished.

You have **2 hours and 50 minutes to complete this exam.**

In [4]:
%reload_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'



## Data Files
Germplasm.tsv and LocusGene.tsv contain the datasets we need for the exam.

Our objective is to create a database to contain the data in these files, insert the data into the database, then query the database in a variety of ways.


## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

In [80]:
gp = open("Germplasm.tsv", "r")
lg = open("LocusGene.tsv", "r")

listA=[]
listB=[]
for x in gp.readlines():
    x = x.rstrip()
    #print("the current record is", line)
    locus_gp, germplasm, phenotype, pubmed = x.split('\t')
    listA.append(locus_gp)

   # print("LG:", locus, "germplas", germplasm, "phenotype:",phenotype , "pubmed",pubmed)
for x in lg.readlines():
    x = x.rstrip()
    #print("the current record is", line)
    locus_lg, gene, pl = x.split('\t')
    listB.append(locus_lg)
#comparar si son iguales
for i in range(1,len(listA)):
    if listA[i]==listB[i]:
        print("son iguales")
        si se quiere ver los locus se descomenta
        print(listA[i] + " " + listB[i])

son iguales
AT1G01040 AT1G01040
son iguales
AT1G01060 AT1G01060
son iguales
AT1G01140 AT1G01140
son iguales
AT1G01220 AT1G01220
son iguales
AT2G03720 AT2G03720
son iguales
AT2G03800 AT2G03800
son iguales
AT2G04240 AT2G04240
son iguales
AT2G05210 AT2G05210
son iguales
AT3G02130 AT3G02130
son iguales
AT3G02140 AT3G02140
son iguales
AT3G02230 AT3G02230
son iguales
AT3G02260 AT3G02260
son iguales
AT3G02310 AT3G02310
son iguales
AT3G02680 AT3G02680
son iguales
AT3G02850 AT3G02850
son iguales
AT3G02870 AT3G02870
son iguales
AT3G03260 AT3G03260
son iguales
AT4G14790 AT4G14790
son iguales
AT4G15210 AT4G15210
son iguales
AT4G15560 AT4G15560
son iguales
AT4G15570 AT4G15570
son iguales
AT4G15802 AT4G15802
son iguales
AT4G15880 AT4G15880
son iguales
AT4G16420 AT4G16420
son iguales
AT4G16480 AT4G16480
son iguales
AT5G10480 AT5G10480
son iguales
AT5G10510 AT5G10510
son iguales
AT5G11110 AT5G11110
son iguales
AT5G11260 AT5G11260
son iguales
AT5G11510 AT5G11510
son iguales
AT5G12200 AT5G12200
son iguales
AT5G13290 AT5G13290

In [4]:
studentfile = open("Germplasm.tsv", "r")
print(studentfile.read())

Locus	germplasm	phenotype	pubmed
AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351
AT1G01060	lhy-101	The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.	16891401
AT1G01140	SALK_058629	hypersensitive to low potassium media	17486125
AT1G01220	SALK_012400C	fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.	18199744
AT2G03720	SALK_042433	Multiple straight hairs	16367956
AT2G03800	gek1-1	Ethanol hypersensitivity.	15215505
AT2G04240	xerico	Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.	17933900
AT2G05210	pot1-1	No visible phenotype.	17627276
AT3G02130	rpk2-2	The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.	17419837
AT3G02140	afp4-1	Decreased germination on high concentrations of glucose and sorbitol.	18484180
AT3G02230	rgp1-1	rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.	21478444
AT3G02260	tir3-1 RGLG1:rglg1 rglg2	The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.	17586653
AT3G02310	sep2-1	Non-described subtle phenotype.	10821278
AT3G02680	atnbs1-1	Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.	17672843
AT3G02850	CS3816	The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.	17568770
AT3G02870	vtc4-1	ascorbate deficient	16595667
AT3G03260	hdg8-1	No visible phenotype.	16778018
AT4G14790	pdd17	Defective pollen development.	19237690
AT4G15210	bmy1-2	Plants cold-shocked for 6h have an increased starch content compared to wildtype.	16297066
AT4G15560	cla1-1	Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.	10982425
AT4G15570	maa3	Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.	18772186
AT4G15802	Athspb-2	Early flowering, reduced fertility, aborted seeds.	20388662
AT4G15880	esd4-2	Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.	17513499
AT4G16420	prz1-1	Altered response to auxin and cytokinin	12747832
AT4G16480	atint4-2	No visible phenotype.	16603666
AT5G10480	pas2-3	Segregates 25% embryo lethal.	18799749
AT5G10510	plt3-1	Short roots and shortened root meristem.	17960244
AT5G11110	kns2	Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.	18779216
AT5G11260	hy5-101	Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.	16891401
AT5G11510	myb3r4-1	No visible phenotype.	17287251
AT5G12200	pyd2-2	The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.	19413687
AT5G13290	crn-1	Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.	12345678

In [47]:
studentfile = open("LocusGene.tsv", "r")
print(studentfile.read())

ocus	Gene	ProteinLength
AT1G01040	DCL1	332
AT1G01060	LHY	290
AT1G01140	CIPK9	223
AT1G01220	FKGP	190
AT2G03720	MRH6	189
AT2G03800	GEK1	196
AT2G04240	XERICO	256
AT2G05210	POT1A	221
AT3G02130	RPK2	284
AT3G02140	TMAC2	300
AT3G02230	RGP1	301
AT3G02260	BIG	279
AT3G02310	SEP2	175
AT3G02680	NBS1	190
AT3G02850	SKOR	234
AT3G02870	VTC4	311
AT3G03260	HDG8	194
AT4G14790	SUV3	312
AT4G15210	BAM5	313
AT4G15560	DXS	219
AT4G15570	MAA3	294
AT4G15802	HSBP	254
AT4G15880	ESD4	265
AT4G16420	ADA2B	279
AT4G16480	INT4	284
AT5G10480	PAS2	301
AT5G10510	AIL6	310
AT5G11110	SPS2	232
AT5G11260	HY5	221
AT5G11510	MYB3R-4	336
AT5G12200	PYD2	310
AT5G13290	CRN	189

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [9]:
#%sql CREATE DATABASE db1
%sql USE db1

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [93]:
#%sql DROP TABLE Locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [94]:
%sql CREATE TABLE Germplasm(locus VARCHAR(20) NOT NULL PRIMARY KEY, germplasm VARCHAR(30) NOT NULL, phenotype VARCHAR(400) NOT NULL, pubmed INTEGER NOT NULL);
%sql CREATE TABLE Locusgene(locus VARCHAR(20) NOT NULL PRIMARY KEY, gene VARCHAR(20) NOT NULL,  ProteinLength INTEGER NOT NULL);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

In [109]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='db1',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try: 
    with connection.cursor() as cursor:
        #una funcion que lea los archivos de los documents    
        gp.seek(0)     
        for line in gp.readlines()[1::]:
                line = line.rstrip()
                #print("the current record is", line)
                var1=line.split('\t')
                #print(var1[0])
                sql="INSERT INTO Germplasm(locus, germplasm, phenotype, pubmed) VALUES ('"+var1[0]+"','"+var1[1]+"','"+var1[2]+"',"+var1[3]+")"
                
                print(sql)
                cursor.execute(sql)
                
                
                
                
        lg.seek(0)     
        for line in lg.readlines()[1::]:
                line = line.rstrip()
                #print("the current record is", line)
                var1=line.split('\t')
                #print(var1[0])
                sql="INSERT INTO Locusgene(locus, gene, ProteinLength) VALUES ('"+var1[0]+"','"+var1[1]+"',"+var1[2]+")"
                #print(sql)
                cursor.execute(sql)
           
        connection.commit()
        
finally:
    print("")
    
    connection.close()

INSERT INTO Germplasm(locus, germplasm, phenotype, pubmed) VALUES ('AT1G01040','CS3828','Increased abundance of miRNA precursors.',17369351)

IntegrityError: (1062, "Duplicate entry 'AT1G01040' for key 'PRIMARY'")

In [113]:
%sql SELECT*FROM Locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', 332),
 ('AT1G01060', 'LHY', 290),
 ('AT1G01140', 'CIPK9', 223),
 ('AT1G01220', 'FKGP', 190),
 ('AT2G03720', 'MRH6', 189),
 ('AT2G03800', 'GEK1', 196),
 ('AT2G04240', 'XERICO', 256),
 ('AT2G05210', 'POT1A', 221),
 ('AT3G02130', 'RPK2', 284),
 ('AT3G02140', 'TMAC2', 300),
 ('AT3G02230', 'RGP1', 301),
 ('AT3G02260', 'BIG', 279),
 ('AT3G02310', 'SEP2', 175),
 ('AT3G02680', 'NBS1', 190),
 ('AT3G02850', 'SKOR', 234),
 ('AT3G02870', 'VTC4', 311),
 ('AT3G03260', 'HDG8', 194),
 ('AT4G14790', 'SUV3', 312),
 ('AT4G15210', 'BAM5', 313),
 ('AT4G15560', 'DXS', 219),
 ('AT4G15570', 'MAA3', 294),
 ('AT4G15802', 'HSBP', 254),
 ('AT4G15880', 'ESD4', 265),
 ('AT4G16420', 'ADA2B', 279),
 ('AT4G16480', 'INT4', 284),
 ('AT5G10480', 'PAS2', 301),
 ('AT5G10510', 'AIL6', 310),
 ('AT5G11110', 'SPS2', 232),
 ('AT5G11260', 'HY5', 221),
 ('AT5G11510', 'MYB3R-4', 336),
 ('AT5G12200', 'PYD2', 310),
 ('AT5G13290', 'CRN', 189)]

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

In [192]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='db1',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try: 
    with connection.cursor() as cursor:

        sql ="SELECT * FROM Germplasm INNER JOIN Locusgene ON Germplasm.locus = Locusgene.locus"
        cursor.execute(sql)
        Germplasm = cursor.fetchall()
      #  print(Germplasm)
        G=Germplasm[0]
        A=list(G.keys())
        B=(A[0]+ "\t"+ A[1]+ "\t"+ A[2]+ "\t"+ A[3]+ "\t"+ A[4]+ "\t"+ A[5]+ "\t"+ A[6]+"\n")
       # print(B)
        REPORT = open("report.tsv", "w")
        REPORT.write(B)  # the write function, using \n (newline)
        #print(G)
        for i in Germplasm:
            s=str(i[A[0]] + "\t" + i[A[1]] + "\t" + i[A[2]] + "\t" + str(i[A[3]])+ "\t" + str(i[A[4]])+ "\t" + str(i[A[5]])+ "\t" + str(i[A[6]])+"\n")
            #print(s)
            REPORT = open("report.tsv", "a")
            REPORT.write(s)
            REPORT.close()
      
     
                    

           
        connection.commit()
        
finally:
    print("")
    
    connection.close()

locus	germplasm	phenotype	pubmed	Locusgene.locus	gene	ProteinLength

<pre>

</pre>
## Don't forget to commit and push your answers before you leave!

It was wonderful to have you in my class!  I hope to see you again soon!

Good luck with your careers!!

Mark